*.iml
.gradle
/local.properties
*.keystore
*.jks
!/release.keystore

.idea/

.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.hprof

# Android build output (all modules)
build/